# dependencies
node_modules/

# build output
dist/
out/
release/
build/
.output/
*.tsbuildinfo
electron.vite.*.mjs

# env
.env
.env.*
!.env.example

# logs
*.log
*.local

# os/editor noise
.DS_Store
Thumbs.db
